<h1>Welcome to Playlist Manager!</h1><br>

<h4><%= link_to 'Sign Up', '/signup' %></h4><br>
<h4><%= link_to 'Login with Playlist Manager', '/login' %> -- OR -- <a href='/auth/google_oauth2'>Login with Google</a>
